* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E08548;
}

#page-wrapper {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

h1 {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 2.4em;
    color: #3f0f0c;
    font-weight: bold;
    font-family: 'Patrick Hand', cursive;
}

button {
    width: 80px;
    background-color: #7F1E19;
    border-radius: 10px;
    color: white;
    border: none;
    height: 40px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

button:hover {
    background-color: #3f0f0c;
}

input[type="number"] {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    font-weight: bold;
    color: #3f0f0c;
    font-size: 1.3em;
    text-align: center;
}

.add_wrapper {
    text-align: center;
    padding-top: 40px;
}
